{% extends 'layout.html' %}
{% block body %}
	    <div class="container-wide">
	    	<div class="row">
	    			
	    			{% if (stores.length<1) %}
	    				<h2>Please create a store to use the dashboard<h2>
	    			{% else %}
							<h2>Choose a store to view<h2>
	    			{% endif %}
	    			{% for store in stores %}
	    				<a href="/dashboard/{{store.id}}">
		    			<div class="col-lg-2">
		    				<div class="well" style="height: 200px;overflow:hidden;">
		    				<div class="centered">
			    				<h2 style="color:#111111">{{store.name}}</h2>
			    				<h4 style="color:#111111">{{store.slogan}}</h4>
			    			</div>
			    			</div>
		    			</div>
		    			</a>
						{% endfor %}
	    	</div><!-- /row -->
			</div><!-- /hello -->
{% endblock %}