{% extends 'layout.html' %}
{% block body %}
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2">
	    			<h2>Why we made this <i class="fa fa-flag"></i><h2>
	    			<h3>We at Swift Nifty hate waiting in lines. We also believe that computers should take orders instead of humans because computers are faster and less error prone. Now people don't need to wait in line or take orders because Swift Nifty solves these problems. People can request a product from home or on their way to the store so it will be ready when they get there. The Swift Nifty server takes the orders and displays it to the store workers to get the products ready eliminating the need for multiple cashiers and phone service.</h3>

	    			<h2>Store owner workflow <i class="fa fa-money"></i><h2>
    				<h3><ol>
						  <li>Create an account</li>
						  <li>Create a store with products</li>
						  <li>Go to dashboard</li>
						  <li>Select store to view incoming orders</li>
						  <li>Watch live orders come in</li>
						  <li>Get the order ready for pickup</li>
						  <li>Serve customer</li>
						  <li>Receive monthly checks from Swift Nifty from online payments</li>
						  <li>Profit $$$</li>
						</ol></h3>

						<h2>Customer workflow <i class="fa fa-user"></i><h2>
    				<h3><ol>
						  <li>Browse stores</li>
						  <li>Click a store to order from</li>
						  <li>View map location of store to get directions and estimate travel time</li>
						  <li>View store reviews to find the best products</li>
						  <li>Add desired products to order</li>
						  <li>Place order either paying now or in store. (Pay now uses stripe in test mode. To test purchase use credit card: 4242 4242 4242 4242, date: 11/22, cvc: 111)</li>
						  <li>Go to the store and pickup your order</li>
						  <li>Enjoy the extra free time</li>
						</ol></h3>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container-wide -->
{% endblock %}