{% extends 'layout.html' %}
{% block body %}
	<div id="hello">
	    <div class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Order and pay on the go!</h1>
	    			<h2>The future of mobile payments is here.</h2>
	    			<h2><a href="/browse"><button class="btn">Place an order now</button></a></h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container-wide -->
	</div><!-- /hello -->
	
	<div id="green">
		<div class="container-wide">
			<div class="row">
				<div class="col-lg-5 centered">
					<img src="/public/vendor/bootstrap/img/iphone.png" alt="">
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT WE DO?</h3>
					<p>Allow you to buy/sell goods securly with your mobile phone or browser.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-wide">
		<div class="row mt grid" style="margin-top:100px;margin-bottom:100px;">
			<div class="col-lg-4">
				<h3>Why do we need this?</h3>
				<p>I have always hated waiting in lines to pay for something with cash or credit. We should all have the option to order and pay at the same time without being restricted by a human behind a counter. Swift Nifty solves this problem by allowing people to place an order safely and simply with a mobile phone.</p>
			</div>
			<div class="col-lg-4">
				<h3>Open Data!</h3>
				<p>Swift Nifty has utilized open data from multiple resourses. Using the open data from Google maps api Swift Nifty can easily display store location/directions. Additionally yelp provides an open data reviews api which makes it easy for users to see what's good.</p>
			</div>
			<div class="col-lg-4">
				<h3>How is this secure?</h3>
				<p>All payments are processed through the Stripe API using the https protocal. Stripe creates a payment token that only Swift Nifty can use to make a transaction. This means Swift Nifty doesn't handle any credit card information keeping your private data private.</p>
			</div>
		</div>
	</div>


	<div id="f" style="background-color:#212F3D">
		<div class="container-wide">
			<div class="row">
				<p style="float:left;"><a style="color: #ffffff;" href="http://trevordev.com">Site By Trevor Baron</a><!--Site By Trevor Baron--></p> <p>Bootsrap theme by BlackTie.co.</p>
			</div>
		</div>
	</div>
{% endblock %}