{% extends 'layout.html' %}
{% block body %}
	    <div ng-controller="OrderCtrl" class="container-wide">
	    	<div class="row">
	    		<div class="col-lg-9">
	    			<h1>{{store.name}} - {{store.slogan}}</h1>
	    			<h3><a href="http://www.yelp.ca/search?find_desc={{store.name|replace(' ', '+', 'g')}}&find_loc=Toronto%2C+ON&ns=1#find_loc={{store.location|replace(' ', '+', 'g')}}">Reviews</a></h3>
	    			<h2>Location {{store.location}}</h2>
	    			<div style="height: 300px;width:100%" id="map-canvas"></div>
	    			<h2>Description</h2>
	    			<h4>{{store.description | escape |replace('\n', "<br>", 'g')|raw}}</h4>
	    			<h2>Products: </h2>
						  {% for product in products %}
						  <div class="row">
		    					<h4 class="col-sm-offset-1 col-sm-2" style="margin-top: 30px;">{{product.name}}</h4>
		    					<h4 class="col-sm-5" style="margin-top: 30px;">{{product.description}}</h4>
		    					<h4 class="col-sm-2" style="margin-top: 30px;">${{product.price.toFixed(2)}}</h4>
		    					<h4 class="col-sm-2"><button class="btn" ng-click="addOrder({{product.id}}, '{{product.name}}', {{product.price}})" style="width:100%"><i class="fa fa-plus"></i> Add to Order</button></h4>
		    			</div>
		    					<div style="background-color:white;height:1px;width:100%;"></div>
		    			{% endfor %}
	    		</div>
	    		<div class="col-lg-3">
	    			<h2>Current Order</h2>
	    			<table class="table">
	    				<thead>
	    					<tr>
			    				<td>
			    					Name
			    				</td>
			    				<td>
			    					Price
			    				</td>
			    			</tr>
	    				</thead>
	    			<tr ng-repeat="order in orders">
	    				<td>
	    					[[order.name]]
	    				</td>
	    				<td>
	    					$[[order.price]]
	    				</td>
	    			</tr>
	    			<tr>
			    				<td>
			    					Total:
			    				</td>
			    				<td>
			    					$[[total()]]
			    				</td>
			    			</tr>
	    			</table>
	    			<h4>Your name, email or phone</h4>
	    			<div class="form-group">
	    				<input ng-model="name" type="text" class="form-control" placeholder="eg. trevor@trevordev.com">
	    			</div>
	    			<h4>Add a message to order (optional)</h4>
	    			<div class="form-group">
	    			<textarea ng-model="orderMsg" class="form-control" rows="2"></textarea>
	    			</div>
	    			<div class="row centered">
	    			<div class="col-sm-6" style="padding-bottom:10px">
	    			<button class="btn" style="width:193px" ng-disabled="requesting" ng-click="payWithStripe()"><i class="fa fa-money"></i> Pay now</button>
	    			</div>
	    			<div class="col-sm-6">
	    				<button class="btn" style="width:193px" ng-disabled="requesting" ng-click="placeOrder()"><i class="fa fa-shopping-cart"></i> Pay in store</button>
	    			</div>
	    			</div>
	    		</div>
	    	</div>
			</div>
{% endblock %}

{% block script %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5jK4WtJObHJwEB0b6efS7FMlXiQxXv1Y&sensor=false"></script>
<script type="text/javascript">

function OrderCtrl($scope, $http) {

				$scope.requesting = false;
			  $scope.orders = [];
			  $scope.orderMsg = "";
			  $scope.name = "";
		    $scope.addOrder = function(pID, name, price){
		    	$scope.orders.push({id: pID, name:name, price:price.toFixed(2)});
		    }
		    $scope.rmvOrder = function(i){
		    	console.log($scope.products[i])
		    	$scope.products.splice(i,1);
		    }
		    $scope.total = function(){
		    	var total = 0;
		    	for (var i in $scope.orders){
		    		total += parseFloat($scope.orders[i].price);
		    	}
		    	return total.toFixed(2);
		    }
		    $scope.placeOrder = function(token){
		    	$scope.requesting = true;
					$http({
					    url: "/api/store/{{store.id}}/order",
					    method: "POST",
					    data: {name:$scope.name,orders:$scope.orders,message:$scope.orderMsg,total:$scope.total(), token:token}
					}).success(function(data, status, headers, config) {
					    window.location.replace("/thanks");
					}).error(function(data, status, headers, config) {
							$scope.requesting = false;
					    if(data && data.data && data.data.message){
								showError(data.data.message)
							}else{
								showError("Invalid input")
							}
					});
				return false;
				}

				$scope.payWithStripe = function(){
					if($scope.orders.length < 1){
						showError("You must add products to place an order")
					}else if(!$scope.name){
						showError("You must enter your name, email or phone number to place an order")
					}else{
						stripeHandler.open({
				      name: 'SwiftNifty',
				      description: "{{store.name|escape('js')}} $"+$scope.total()+" Order",
				      amount: parseInt(parseFloat($scope.total())*100)
				    });
					}
				}


//STRIPE-------------------------------------------
var stripeHandler = StripeCheckout.configure({
  key: '{{public_stripe_api_key}}',
  //image: '/square-image.png',
  token: function(token, args) {
    $scope.placeOrder(token);
  }
});
//MAPS----------------------------------------------
				var mapOptions = {
  //center: new google.maps.LatLng(-34.397, 150.644),
  zoom: 8
};
var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
var geocoder = new google.maps.Geocoder();

geocoder.geocode( { "address": "{{store.location}}"}, function(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
    map.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
    });
  } else {
    //alert('Geocode was not successful for the following reason: ' + status);
    $("#map-canvas").hide()
  }
});
			}
			
</script>
{% endblock %}