
.navbar-fixed-top {
    position: static;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    min-width: 320px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* Sticky footer styles
            ------------------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-wide {
    padding-left:20px;
    padding-right:20px;
}

.row {
    padding-left:20px;
    padding-right:20px;
}

.masthead {
    background-color:#33A6C9; width:100%;padding-top:20px;
}

.masthead h1 {
    font-size: 70px; line-height: 1; letter-spacing: -2px;
}

.bs-sidenav>li>a {
padding: 1px 5px;
}

.btn {
    /*background-color:#D1D1D1*/
}

.btn-primary {
    border: none;
}

select {
    border:1px solid #cccccc;
    background-color: white;
    height: 30px;
    line-height: 30px;
}

textarea {
    border:1px solid #cccccc;
}

input {
}

.btn-green{
    padding: 10px 15px;
    color: #ffffff;
    background-color: #74cfae;
    cursor: pointer;
    display: inline-block
}